.header{
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 10rem;
    height: 5rem;

}

.headmenu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: azure;
}

.headmenu>li:hover{
    color: var(--orange);
    cursor: pointer;
}