.footercontainer{
    position: relative;
}   

.footercontainer>hr{
    border: 1px solid orangered;

}

.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social>img{
    gap: 4rem;
    width: 2rem;
    height: 2.5rem;
    align-items: space-between;
    margin-right: 3vw;
    height: 2rem;
    cursor: pointer;

}

.logofooter>img{
    width: 10rem;

}