.programs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.programsheader{
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: azure;
    text-transform: uppercase;
    font-style: italic;
}

.programcate{
    display: flex;
    gap: 1rem;

}

.cate{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 2rem;
    gap: 1rem;
    color: azure;
    justify-content: space-between;
    
}

.cate>:nth-child(1){
    width: 3rem;
    height: 3rem;
    fill: azure;
    align-self: center;
}

.cate>:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
}
.cate>:nth-child(3){
    font-size: 0.9rem;
    line-height: 25px;
}

.joinnow{
    display: flex;
    align-items: center;
    gap: 1rem;

    align-self: center;
}
.joinnow>img{
    width: 2rem;
    height: 2rem;

}


.cate:hover{
    background-image: linear-gradient(to right, #fa0707, #e38a16);
    cursor: pointer;

}